[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[requires]
python_version = "3.7"

[packages]
schematics = "==2.1.*"
kin-base = {ref = "async-kin", git = "https://github.com/kinecosystem/py-kin-base"}

[dev-packages]
codecov = "*"
coverage = "*"
pytest = "*"
pytest-cov = "*"
pytest-asyncio = "*"
